@charset "utf-8";
*,*:after {box-sizing:inherit;}

html, body {
	font-family:Times New Roman, arial, sans-serif;
	background-size:100% auto;
	background-color:rgba(200,40,40,0.8);
	box-sizing:border-box;
	box-shadow: inset 0px 0px;
	margin:0px;
	padding:0px;
}
#wrapper {
	width:100%;
}
